<a href="https://colab.research.google.com/github/Suvrakar/Python_Practices-/blob/master/Python_tutorials_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#python_list
#list is mutable
#it use []
                                                                                # 0   1    2     3      4       5       6
x=[2,3,"ami", 4.33,5,3,7.5]                                                     # 2   3   ami   4.33    5       3      7.5
print(x)                                                                        #-7  -6    -5   -4     -3      -2       -1

print(x[1:4]) #eita indx 0 thake 4 prjnto print krbe

print(x[-1:]) #eita indx 0 thake 4 prjnto print krbe



x.append(6) #append means last e add hobe
print(x)

x.insert(2,4) #insert mane (2,4) eikhne 2number index e 4 add hbe
print(x)

x.pop() #pop mane last er value ta pop krbe
print(x)

x.reverse()
print(x)

[2, 3, 'ami', 4.33, 5, 3, 7.5]
[3, 'ami', 4.33]
[7.5]
[2, 3, 'ami', 4.33, 5, 3, 7.5, 6]
[2, 3, 4, 'ami', 4.33, 5, 3, 7.5, 6]
[2, 3, 4, 'ami', 4.33, 5, 3, 7.5]
[7.5, 3, 5, 4.33, 'ami', 4, 3, 2]

In [0]:
#python_tuples
#it is immutable
#it use ()

#python_sets
#it is immutable
#it use {}
#do not follow sequences

In [0]:
#pyhton_dict


x={1: "we", 2: "are", 4: "good"}

print(x)

{1: 'we', 2: 'are', 4: 'good'}